* {
    padding:0;
    margin:0;
}

body {
    background: url(bg4.jpg) no-repeat 50%;
    background-size: cover;
}

.clock {
    width:600px;
    height: 600px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.clock span {
    width: 50px;
    height: 2px;
    position: absolute;
    background: #FFFFFF;
}

.clock span:nth-child(1) {
    height: 50px;
    width: 2px;
    top: 14px;
    left: 50%;
    transform: translateX(-50%)

}

.clock span:nth-child(2) {
    right:148px;
    top: 78px;
    transform: rotate(-60deg);
}

.clock span:nth-child(3) {
    right:54px;
    top: 172px;
    transform: rotate(-30deg);
}

.clock span:nth-child(4) {
    top:50%;
    right:14px;
    transform: translateY(-50%);
}

.clock span:nth-child(5) {
    right:54px;
    bottom: 172px;
    transform: rotate(30deg);
}

.clock span:nth-child(6) {
    right:148px;
    bottom: 78px;
    transform: rotate(60deg);
}

.clock span:nth-child(7) {
    height: 50px;
    width: 2px;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%)
}

.clock span:nth-child(8) {
    left:148px;
    bottom: 78px;
    transform: rotate(-60deg);
}

.clock span:nth-child(9) {
    left:50px;
    bottom: 170px;
    transform: rotate(-30deg);
}

.clock span:nth-child(10) {
    top:50%;
    left:14px;
    transform: translateY(-50%);
}

.clock span:nth-child(11) {
    left:50px;
    top: 170px;
    transform: rotate(30deg);
}

.clock span:nth-child(12) {
    left:148px;
    top: 78px;
    transform: rotate(60deg);
}